.margin-right-5 {
  margin-right: 5px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-100 {
  margin-right: 100px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.page-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.font-arapey {
  font-family: 'Arapey';
}

.bg-color-green {
  background-color: #1dbb6f;
  border: transparent;
}

.table-text {
  text-align: center;
}

.table-navigators {
  display: flex;
  justify-content: center;
}
